@import '../../../../../assets/theme/_var.scss';

.dashboard_chart {
    padding: 16px;
    @include theme-aware('box-shadow', 'boxShadow2');
    @include theme-aware('background-color', 'cardBg');
    border-radius: 16px;

    h3 {
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
        @include theme-aware('color', 'inputText');
        margin-bottom: 16px;
    }

    &_inner {
        h4 {
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            margin-bottom: 16px;
            font-family: $baseFont;
            @include theme-aware('color', 'inputText');
        }
    }
}