/* html.theme-dark .group-wWM3zP_M- {
    background: #050823 !important;
  } */
html.theme-dark .group-wWM3zP_M- {
  background: #1c1e28 !important;
}

html.theme-dark .chart-controls-bar {
  background: #1c1e28 !important;
}

html.theme-dark .pane-legend-title__description,
html.theme-dark .pane-legend-title__interval {
  text-transform: uppercase;
  color: #b2b5be !important;
  font-size: 15px;
}

html.theme-dark .layout__area--center {
  border-top: 1px solid #1b2133 !important;
}

html.theme-dark .layout__area--top .wrap-3tiHesTk- {
  background: #363c4e !important;
}

html.theme-dark .layout__area--top .group-wWM3zP_M- {
  border-radius: 0 !important;
}

html.theme-dark .layout__area--top .group-wWM3zP_M-:first-child {
  border-bottom-left-radius: 0px !important;
}

html.theme-dark .chart-page {
  background: #1c1e28 !important;
}

html.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-,
html.feature-no-touch.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-:hover,
html.feature-no-touch.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-:active,
html.feature-touch.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-:active {
  background-color: #1c1e28 !important;
}

html.theme-dark .item-3cgIlGYO-.isActive-2M6dwA7--,
html.feature-no-touch.theme-dark .item-3cgIlGYO-.isActive-2M6dwA7--:hover {
  color: #c3cace;
}

html.theme-dark .slider-1ealLtjI- .inner-3lmAEIjy- {
  background-color: #c3cace;
}

.lightTheme html.theme-dark .group-wWM3zP_M- {
  background: #1c1e28 !important;
}

.lightTheme html.theme-dark .chart-controls-bar {
  background: #1c1e28 !important;
}

.lightTheme html.theme-dark .chart-page {
  background: #fff !important;
}

html.theme-dark .inner-1xuW-gY4-,
html.theme-dark .group-2JyOhh7Z- {
  background: #1c1e28 !important;
}

html.theme-dark .chart-page .bg-1kRv1Pf2- {
  width: 28px;
  height: 28px;
  background: #272933 !important;
  border-radius: 3px;
  border: 1px solid #272933 !important;
}

html.theme-dark .chart-page .bg-1kRv1Pf2- svg {
    width: 17px;
    height: 17px;
}

html.theme-dark .chart-page .bg-1kRv1Pf2- svg path {
  fill: #8F9195 !important;
  font-weight: bold;
}

html.theme-dark .chart-page .isActive-2mI1-NUL- .bg-1kRv1Pf2- {
  background: #0F2F5E !important;
  border-color: #0064EF !important;
}

html.theme-dark .chart-page .isActive-2mI1-NUL- .bg-1kRv1Pf2- svg path {
  fill: #D3D3D5 !important;
}

html.theme-dark .tv-floating-toolbar, html.theme-dark .menuWrap-1gEtmoET-, html.theme-dark .menuBox-20sJGjtG- .item-2xPVYue0- {
  background-color: #0064EF !important;
  box-shadow: none !important;
  border: none !important;
}
html.theme-dark .menuBox-20sJGjtG- .item-2xPVYue0-.isActive-2j-GhQs_-, html.theme-dark .menuBox-20sJGjtG- .item-2xPVYue0-:hover, 
html.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-, html.feature-no-touch.theme-dark .item-2xPVYue0-.isActive-2j-GhQs_-:hover {
  background-color: #0F2F5E !important;
}
html.theme-dark .menuWrap-1gEtmoET- {
  width: 186px;
}
html.theme-dark .chart-page .label-3Xqxy756- {
  color: #D3D3D5 !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  padding-left: 6px;
}

html.theme-dark .menuBox-20sJGjtG- .item-2xPVYue0- .icon-2Qm7YIcz- svg  {
  fill: #D3D3D5 !important;
  width: 20px;
}
html.theme-dark .item-31XunD5q-  {
  color: #D3D3D5 !important;
}

html.theme-dark .chart-page .drawingToolbar-U3_QXRof- .isOpened-22vLOY9o- .control-1TyEfSIx- .arrow-1cFKS5Ok- {
  transform: none;
  opacity: 1;
  right: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 8px solid #0060eb;
  height: 10px;
  top: 10px;
}
html.theme-dark .chart-page .drawingToolbar-U3_QXRof- .control-1TyEfSIx- .arrow-1cFKS5Ok- .arrowIcon-2wA7q8om- svg {
  display: none;
}
html.theme-dark .chart-page .button-88UE6omC- .inner-2FptJsfC-, html.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-,
html.theme-dark .item-3cgIlGYO-, html.theme-dark .button-2gir_Bbb- {
  color: #8F9195 !important;
}