@import "../../../assets/theme/_var.scss";

.common_btn {
  font-size: 14px;
  background-color: #5167eb;
  @include theme-aware("background-color", "baseColor");
  @extend %transition;
  border: none;
  outline: none;
  color: $white;
  border-radius: 10px;
  padding: 11px 35px;
  display: flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
  text-align: center;

  &:hover {
    @include theme-aware("background-color", "baseHoverColor");
  }

  &:disabled {
    @include theme-aware("background-color", "baseColor");
    opacity: 0.6;

    &:hover {
      transform: none !important;
      @include theme-aware("background-color", "baseColor");
    }
  }

  .common_btn_icon {
    padding-right: 10px;
    max-width: 30px;
  }

  .btn_right_icon {
    margin-left: 10px;
    max-width: 30px;
  }

  &.bordered {
    box-shadow: inset 0 0 0 1px $white;
    background-color: unset;
    @include theme-aware("color", "whiteClr");

    &:hover {
      @include theme-aware("color", "whiteClr");
      background-color: unset;
    }
  }

  &.small {
    padding: 8px 14px;
  }

  &.xtra_small {
    font-size: 12.6px;
    line-height: 12.6px;
    padding: 8px 14px;
    height: 30px;
  }

  &.danger {
    @include theme-aware("background-color", "dangerClr");

    &:hover {
      @include theme-aware("background-color", "dangerClrDark");
    }
  }

  &.green{
    @include theme-aware('background-color', 'lightGreenClr');
    opacity: 0.9;
    &:hover{
      opacity: 1;
      @include theme-aware('background-color', 'lightGreenClr');
    }
  }

  &.transparent {
    background-color: transparent;
    @include theme-aware("color", "baseColor");

    &:hover {
      @include theme-aware("color", "baseHoverColor");
      background-color: transparent;
    }
  }
}
